<%= javascript_include_tag "faq" %>
<div class="faq_content">
  <div class="faq-qa faq-search-text" id="faq-password">
    <h2 class="faq-cat-title">ログイン・パスワード関連事項について</h2>

    <div class="accordion">
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>パスワードを間違って入力し、口座が凍結されてしまいました。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            セキュリティ確保のため、間違ったパスワードを一定回数ご入力されますと、一定時間ログインを制限させていただいております。<br>
            その場合はお時間を空けて、もう一度ログインをお試しください。<br>
            パスワードが分からない場合は、<a href="#" class="color-green">こちら</a>よりお客様のメールアドレスをご入力いただき「ビットステーションにパスワード再設定を依頼する」<br>
            というボタンを押し、お手続きしてください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>アカウントの凍結解除方法を教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            セキュリティ確保のため、ログイン確認メール下のURLより口座凍結ボタンを押された場合は、ご登録電話番号へのお電話にてご本人確認を<br>
            させていただきました後、弊社にて凍結を解除させていただきます。<br>
            お問い合わせフォームよりご連絡くださいませ。 なお、間違ったパスワードを一定回数以上入力されますと、セキュリティ確保の観点から<br>
            一定時間ログインできなくなります。お時間を空けて、もう一度ログインをお試しください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>パスワードを変更したいです。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              設定メニュー内のパスワード変更から変更が可能です。パスワードが分からない場合は、再設定をお願いいたします。<br>
              パスワードの再設定より、お客様のメールアドレスをご入力いただき「ビットステーションにパスワード再設定を依頼する」という<br>
              ボタンを押し、お手続きしてください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>ログインができません。ログインしようとすると、「アカウントが存在しないか、パスワードが間違っています。」と表示されます。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              ご入力していただいたメールアドレスとパスワードもう一度ご確認ください。パスワードがわからない場合は再設定をお願いいたします。<br>
              パスワード再設定よりお客様のメールアドレスをご入力いただき、「送信」というボタンから<br>
              お手続きをお願いいたします。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>パスワードに設定できる文字数を教えて下さい。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              パスワードは6文字以上、大文字・小文字・数字をそれぞれ含むものである必要があります。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>SMS が届きません。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              SMSが届かない場合、キャリア側の海外からのSMSを拒否する設定になっている可能性があります。<br>
              弊社からのSMSは海外のサーバーを通じて送信されることもありますので、海外からのSMSも受信できるよう設定をお願いいたします。<br>
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

    </div>
  </div>
</div>
