<div class="faq_content"> 
  <div class="faq-qa faq-search-text" id="faq-about-ico">
    <h2 class="faq-cat-title">ICO(クラウドセール)について</h2>

    <div class="accordion">
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>ICO(クラウドセール)とは何ですか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            ICOとは Initial Coin Offering の略で、IPO( Initial Public Offering ‒ 新規株式発行 )を株式ではなく暗号通貨によって行うことを指し、<br>
            独自に発行したトークン(コイン)を販売することにより資金を調達することをいいます。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>クラウドセールに参加するにはどうすればいいですか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            TAOCOINを購入することでクラウドセールに参加することができます。<br>
            具体的な購入方法につきましては、<a href="https://taocoin.asia/jp/buy-taocoin" class="color-green">こちら(URL)</a>をご参照ください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>クラウドセールに参加するメリットを教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              弊社のクラウドセールはTAOCOINの販売を通して行われます。TAOCOINを購入することでシステムの発展をサポートするだけでなく、<br>
              アービトラージポットシステムへ参加し、利益配分の権利を得ることができます。<br>
              アービトラージポットシステムについては<a href="https://taocoin.asia/jp/arbitrage" class="color-green">こちら(URL)</a>をご参照ください。また、TAOCOINは市場で公開取引されるため、<br>
              初期購入者はキャピタルゲインを得ることも期待されます。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>クラウドセールで集まった資金は何に使われますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              弊社運営の仮想通貨取引所であるビットステーション、及びアービトラージポッド・サービスの開発に使われます。<br>
              集まった資金の量に応じて3段階のプランを設定しております。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
    </div>
  </div>
</div>