<%= javascript_include_tag "faq" %>
<div class="faq_content">
  <div class="faq-qa faq-search-text" id="faq-create-account">
    <h2 class="faq-cat-title">アカウント作成について</h2>

    <div class="accordion">
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>アカウントの作成方法を教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>１　メールアドレス・パスワードを入力し、「アカウント作成」ボタンをクリックしてください。<br>
            　　※パスワードは6文字以上、大文字・小文字・数字をそれぞれ含むものである必要があります 。
            </li>

            <li>２　登録に使用したメールアドレスの受信箱を開き、ビットステーションから「アカウント登録確認メール」が届いていることを確認してください。<br>

            　　その本文に記載されているURLから「マイアカウントログイン」ページを開き、先に登録したメールアドレスとパスワードを入力し、ログインを選択してください。

            <li>３　ログインした後、アカウント・ご本人確認を行い、電話番号を登録してください。 アカウント確認の欄から「提出」ボタンを選択し、ご本人登録情報を入力して「確認する」ボタンを選択します。記載内容に問題がなければ「提出」ボタンを選択してください。
            </li>

            <li>４　電話番号登録の欄から「設定」ボタンを選択し、携帯番号を入力して「コードを送信します」を選択すると、入力した電話番号の端末に メッセージが送信されます。メッセージに記載されている6桁の数字を時間内に確認コードに入力し、「保存」ボタンを選択してください。
            </li>

            <li>５　ページが切り替わり、「電話番号が有効になっています。」と表示されれば登録は完了です。<br>
            　　トップページ(URL)から「アカウント作成」ボタンをクリックしてください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>アカウントの作成に、費用はかかりますか? </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>アカウントの作成は無料で行うことができます。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>日本国外に在住ですが、口座を作成することは可能ですか?  </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>はい。日本国外に在住の方も口座を作成していただけます。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>法人としてアカウントの作成はできますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>「株式会社」「有限会社」「合同会社」「合資会社」「社団法人」であれば、アカウントをご登録いただけます。<br>
            その他の団体として登録することはできません。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>法人での口座作成にあたって必要な書類を教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>弊社にて、ご登録内容を元に登記簿を登録させていただきます。<br>
            また、法人情報・法人名義での銀行口座情報、および実質的支配者様の情報とご本人確認書類の提出をお願いしております。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>アカウントを複数登録できますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>複数のアカウントを登録することはできません。</li>
          </ul>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>銀行口座を複数登録できますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>できません。銀行口座はお一つのみご指定ください。</li>
          </ul>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>銀行口座確認完了まで、どれくらい時間がかかりますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>5日営業日ほどで完了いたします。それまでしばらくお待ちください。</li>
          </ul>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>アカウントの登録時に携帯電話認証は必要ですか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>必要です。SMSが届かない場合は<a href="#" class="color-green">こちら（URL)</a>をご参照ください。</li>
          </ul>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>本人確認書類に必要なものを教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            下記のいずれかの書類を撮影した画像のアップロードが必要となります。<br>

            ●一点で受付可能なもの <br>
            運転免許証（表面・裏面） <br>
            在留カード（表面・裏面）<br><br>

            ●二点で受付可能な組み合わせ <br>
            パスポート（写真ページの見開き・住所記載ページ） + 住民票<br><br>


            証明書は、有効期限内のものに限ります。有効期限のない書類に関しては発行から３カ月以内のものを アップロードしてください。 <br>
            本人確認書類の画像はカラーで鮮明なものをアップロードしてください。 <br>書類に不足がない場合でも、弊社の判断により別画像のアップロードをお願いする場合があります。<br>
            </li>
          </ul>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="faq-line"></div>
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>メールアドレス・携帯電話番号を変更する方法を教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>セキュリティ保護のため、お客様ご自身でメールアドレス、携帯電話番号を変更することはできません。<br>
            お問い合わせいただいた後弊社がお手続きさせていただきますので、<a href="#" class="color-green">こちら（URL)</a>からお問い合わせください。</li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
    </div>
  </div>
</div>