<%= javascript_include_tag "faq" %>
<div class="faq_content">
  <div class="faq-qa faq-search-text" id="faq-deposit-withdrawal">
    <h2 class="faq-cat-title">入出金について</h2>

    <div class="accordion">
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>入金方法を教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            アカウント情報・銀行口座情報を登録の上、指定口座へお振り込みください。<br>
            <br>
            注意事項 <br>
            ・アカウントの氏名と同じ口座名義人の口座から必ずお振り込みください。<br>
            ・ユーザーIDを振込名義人欄に必ず入力してください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>入金が反映されません。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            月末や、祝日明け等は金融機関の処理にお時間がかかる場合がありますのでご了承ください。<br>
            もし、お時間が経っても正常に反映されない場合は今一度ご確認の上、お問い合わせください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>出金額に制限はありますか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              上限金額は設定しておりません 。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>日本円を入金しました。いつ反映されますか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              銀行営業日や営業時間などにより多少変動がありますが、最短で当日、最長でも5営業日までには反映されます。<br>
              また入金には銀行口座情報の登録が必要です。 <br>
              ご登録は弊社にて確認後行っているため、登録にお時間をいただく場合もございます。お早めにご登録ください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>第三者の名義で入金できますか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              登録名義以外からの入金は、弊社規定によりお断りしております。<br>
              ご本人とは別の名義で入金されてしまった場合は、お客様ご自身でお使いの金融機関に「組戻し」のご依頼をお願いいたします。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>登録した銀行口座と別の銀行に出金できますか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              日本円の出金は、ご登録の銀行口座でのみ可能です。ご自身の名義の銀行口座情報を登録してご利用ください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>日本円を引き出したいのですが、どうしたらいいですか?</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              ウォレットページより日本円の「出金」ボタンを選択し、手続きにお進みください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>入金額に上限や下限はありますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              お振込みいただく日本円は、1円以上であれば入金額に上限はございません。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>入金時の振込手数料について教えてください。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              日本円のご入金にかかる銀行手数料はお客様のご負担となります。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>クレジットカードからウォレットにチャージできますか？</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
              現在、クレジットカードからのチャージはできません。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

    </div>
  </div>
</div>
