 <%= javascript_include_tag "faq" %>
<div class="faq_content">
  <div class="faq-qa faq-search-text" id="faq-currency-transaction">
    <h2 class="faq-cat-title">仮想通貨の取引について</h2>

    <div class="accordion">
      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>仮想通貨の購入方法を教えてください。 </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            取引所ページを開き、ご希望の数量・価格を入力し、「購入」ボタンを押すことで購入することができます。
            日本円をウォレットへチャージする方法については、<a href="#" class="color-green">こちら(URL)</a>をご参照ください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>仮想通貨を購入したのに残高に表示されません。</h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            クレジットカードでご購入いただいた仮想通貨は、反映に時間がかかることがあります。<br>
            また、ブロックチェーンにおけるトランザクションの承認に時間がかかる場合もあり、場合によっては認証に数日を要することもございます。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>売買時間内なのに販売価格が正常に表示されません。 </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            お客様のご利用の端末のネットワーク環境等の影響により、正しい価格が表示されない場合があります。<br>
            通信環境をもう一度確認の上、再度お試しください。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>仮想通貨の受取・預入が正常に反映されません。 </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            セキュリティ上の都合により、一定数以上のコンファメーションを確認でき次第手続きをしております。<br>
            そのため反映まで少しお時間をいただいておりますので、しばらくお待ち下さい。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>仮想通貨を外部から受け取るにはどうしたらいいですか?  </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            ウォレットページからご希望の通貨の「入金」ボタンを選択していただくと、口座アドレスをご確認いただけます。<br>
            このアドレスを対象に外部から送金を行っていただくと、お客様のアカウントで受け取ることができます。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>本人確認をしなくても取引ができますか？ </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            本人確認が完了するまでお取引を行うことはできません。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

      <!--  -->
      <div class="accordion-toggle">
        <strong class="icon-q">Q</strong>
        <h3>成行注文はできますか？ </h3>
      </div>
      <div class="accordion-content">
        <strong class="icon-a">A</strong>
        <div class="answer-content">
          <ul>
            <li>
            順次追加予定です。現在は成行注文の機能はございません。
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="faq-line"></div>
      <!--  -->

    </div>
  </div>
</div>