.submit {
  background-color: red;
}

.waiting {
  background-color: #DDA0DD;
}

.transacted {
  background-color: blue;
}

.withdrawing {
  background-color: #C0C0C0;
}

.completed {
  background-color: #5cb85c;
}
