
<div class="invite_friend">
  <div class="panel-1">
    <div>
      <div class="share row">

       <div class="share1 col-md-3 col-sm-3 col-xs-3">
        <img src="/invite-friends/line.png" alt="help">
       </div>

      <div class="share2 col-md-3 col-sm-3 col-xs-3">
        <img src="/icon-twitter.png" alt="help">
       </div>

      <div class="share3 col-md-3 col-sm-3 col-xs-3">
        <img src="/icon-facebook.png" alt="help">
      </div>

      <div class="share3 col-md-3 col-sm-3 col-xs-3">
        <img src="invite-friends/gmail.png" alt="help">
      </div>

      <div class="text-1-1">
        <b> 友達紹介　</b>
      </div>
      </div>

    </div>

    <img src="/invite-friends/1.png">
    <div class="panel-text-1 text-center">
      <div class="text-2-1"><b>なんと…</b></div>
      <div class="text-2-2"><b>10,000口座</b></div>
      <div class="text-2-3"><b>限定!!</b></div>
    </div>
  </div>


  <div class="panel-2">
    <img src="/invite-friends/2.png">
      <div class="panel-2-2 row">
        <div class="col-md-4 col-sm-4 col-xs-4 panel-2-2-right">
          <img src="/invite-friends/3.png" style="width: 70%;">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <div>
            <div class="logo-invite">
              <img src="/logo_main.png">
              <span class="text-4">のメリット</span>
            </div>
          </div>


          <div class="text-2-padding">
            <div class="text-2">
              <i class="fa fa-square-o" aria-hidden="true"></i> 紹介ページで何人紹介したか把握できる！
            </div>
            <div class="text-2">
              <i class="fa fa-square-o" aria-hidden="true"></i> 今の時点でいくら報酬をもらえているのか確認できる！！
            </div>
            <div class="text-2">
              <i class="fa fa-square-o" aria-hidden="true"></i> 紹介者が登録すると1,500TAOもらえる！
            </div>
          </div>

          <div class="link-to-root">
            <%=link_to "タオコインについてはこちら", root_path %>
          </div>
        </div>
      </div>
  </div>

  <div class="panel-3 container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 bg-friend-1">
        <img src="/invite-friends/8.png">
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 bg-text-1">
        <img src="/invite-friends/chat-1.png">
        <!-- <span>ビットステーション使いやすいから登録してみよう</span> -->
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3">

      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 bg-text-2">
        <img src="/invite-friends/chat-2.png">
        <!-- <span>このURLから登録すればいいんだね</span> -->
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 bg-friend-2">
        <img src="/invite-friends/9.png">
      </div>

    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">

      </div>

      <div class="col-md-2 col-sm-2 col-xs-2">
          <img src="/invite-friends/13.png" style="width: 70%">
      </div>

      <div class="col-md-5 col-sm-5 col-xs-5 text-3">
        紹介者が0.1以上のお取引をし <br>
        ビットステーションを活用して行くと…
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4 bg-text-3">
        <img src="/invite-friends/bonus.png">
        <!-- <span class="transform-text"><h4>最大 </h4><br> 5,000円</span> -->
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="/invite-friends/7.png">
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">

      </div>
    </div>
  </div>

  <div class="content">
    <div class="text-center">
      <div class="affiliate_steps">
        <div class="affiliate_step1">
          <img src="/invite-friends/friend-step1.png">
          <div class="content_text">
            ご自身のスマートフォンから紹介したい相手にビットステーション友達紹介のページからのURLを送ります。
          </div>
        </div>
        <img src="/affiliates/step_arrow.png">
        <div class="affiliate_step2">
          <img src="/affiliates/affiliate_step2.png">
          <div class="content_text">
            送られたURLをクリックし新規紹介者がビットステーションにアカウント登録を行います。
          </div>
        </div>
        <img src="/affiliates/step_arrow.png">
        <div class="affiliate_step3">
          <img src="/affiliates/affiliate_step3.png">
          <div class="content_text">
            新規の利用者が条件を達成したら紹介していただいたお客様に「報酬」が発生！友達紹介を利用する場合は、本人確認書類を提出し、承認を受けている必要があります。
          </div>
        </div>
      </div>
    </div>

    <div class="reward_general">
      <div class="table_header">
        <img src="/affiliates/affiliate_bitcoin.png">
        <h3>友達紹介の報酬</h3>
      </div>
      <div class="top_content">
        <div class="left">
         報酬
        </div>
        <div class="right">
          <div class="row">
            <div class="col">
              レベル3以上
            </div>
            <div class="col money-2">
              <b>2,000円</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              0.1以上のお取引
            </div>
            <div class="col money-3">
              <b>3,000円</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              すべて達成すると　
            </div>
            <div class="col">
             <div class="bg-1">
               <span class="bg-1-1">合計</span>
               <span class="money-5"><b>5,000円</b></span>
             </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_content">
        <div class="row">
          <div class="col">
            報酬のお支払い
          </div>
          <div class="col">
            10,000口座達成時に報酬お支払いします。
          </div>
        </div>
        <div class="row">
          <div class="col">
            報酬
          </div>
          <div class="col">
            現金払い出し。
          </div>
        </div>
        <div class="row">
          <div class="col">
            注意事項
          </div>
          <div class="col">
            ・報酬の出金には本人確認が完了しアカウントレベル２以上である必要があります。<br>
            ・報酬支払日は10,000口座達成時ですが、正確な時刻までは決められておりません。<br>
            ・注意事項やプログラム却下・否認条件は予告なく変わることがございます。<br>
            ・友達紹介の対象は「日本国内居住ユーザーのみ」となります。<br>
            ・友達紹介の報酬額は、予告なく変更する場合がございます。
          </div>
        </div>
      </div>
    </div>
    <div class="advertisements">
      <div class="table_header">
        <img src="/affiliates/affiliate_bitcoin.png" class="image_bitcoin">
        <h3><b>友達紹介の詳細</b></h3>
      </div>
      <div class="content content-color">
         友達紹介の詳細につきましては以下の通りです。
      </div>
      <div class="relation margin-40">
          ・新規登録者様がアカウント登録日から30日以内に条件を満たさない場合は無効となります。<br>
          ・重複や虚偽のデータなどを使用したお申込み、また入力不備等があった場合は、該当条件を満たしていた場合でも、当社規定により報酬支払い対象外とさせていただく場合がございます。<br>
          ・既にビットステーションで口座解説をしたお客様や申込履歴があるお客様は対象外となります。<br>
          ・同一IPアドレス、同一のパソコン・スマートフォン等から複数回お申込いただいた場合も無効となります。登録されたご連絡先にて連絡が取れない場合は無効となります。<br>
          ・弊社の企業名やサイト名、ブランド名、商品名などを使用して有料検索広告等を出稿し新規登録者を集める行為、また弊社サービス内容にそぐわない紹介の仕方、弊社イメージを損なう行為、その他不正表記等、弊社判断による不適切な方法で登録者を集めた場合も無効となります。<br>
          ・お客様専用の紹介リンク経由の申込履歴が取れなかった場合 または、紹介した方がお客様の紹介リンクを経由せずに登録した場合は、登録完了後に発覚したとしても弊社は対応することができません。必ず紹介リンク経由でご登録ください。<br>
          ・第三者と協力しての友達紹介の申し込みや弊社サービス利用予定のない者への申し込み斡旋行為なども対象外となる場合がございます。<br>
          ・キャンペーンは予告なく変更、終了することがございます。なお弊社は、変更あるいは終了により生じた損害については、一切責任を負いません。<br>
          ・弊社は、上記のいずれかに該当する場合、お客様に事前に通知することなく一時・的に、即時友達紹介停止・成果非承認、お客様の残高からの報酬金撤収をさせていただくことがございます、ご了承ください。<br>
      </div>
    </div>
  </div>

</div>
