// market css var
$market_background: #26343c;
$border_color: #122027;
$hint_color: rgba(154, 168, 185, 0.49);

$buy_color: #337ab7;
$sell_color: #d9534f;

$table-color-background: #122027;
$table-color-header: #AAB9C2;

//header
$header-color-hint: #777;
$row_height: 25px;
