<%= render 'shared/header' %>
<div class="bititrade-content">
  <div class="about-company">
    <h1 class="legend-primary">会社概要</h1>
    <div class="about-company-content">
      <table class="table">
        <tbody>
          <tr>
            <td>商号</td>
            <td>ビットステーション株式会社</td>
          </tr>
          <tr>
            <td>代表取締役社長兼CEO</td>
            <td>戸田　俊司</td>
          </tr>
          <tr>
            <td>本社所在地</td>
            <td>〒460-0003 愛知県名古屋市中区錦3-23-18 ニューサカエビル5F</td>
          </tr>
          <tr>
            <td>東京支社</td>
            <td>〒100-0005 東京都千代田区丸の内2-2-1 岸本ビルヂング6F</td>
          </tr>
          <tr>
            <td>ベトナム支社</td>
            <td>ダナン, Hai Chau 区, Nui Thanh 104-106-108 , Quang Dong ビル , 5階</td>
          </tr>
          <tr>
            <td>メール</td>
            <td>info＠bit-station.jp</td>
          </tr>
          <tr>
            <td>事業内容</td>
            <td>仮想通貨取引所運営、管理、仮想通貨関連メディア</td>
          </tr>
          <tr>
            <td>サービス説明</td>
            <td>仮想通貨取引所の運営、開発</td>
          </tr>
          <tr>
            <td>取引銀行</td>
            <td>三井住友銀行　　三菱東京UFJ銀行</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
<script type="text/javascript">
  $(".bitirade-home-wrapper .bititrade-content").css("min-height",$(window).height() - 245 );
</script>
