<%= render 'shared/header' %>
<div class="bititrade-content">
  <div class="row company_about">
    <div class="col-md-10 col-xs-offset-1">
      <h3 class="title">Abount Bit-trading.online</h3>

      <p dir="ltr desc">
        The Platform development started with a 6 million euro venture investment agreement, as of the collaboration between software developers, finance professionals and experienced traders.
        The core matching engine is among the most advanced technological products in its class and implements innovative features such as real-time clearing, advanced order matching algorithms and has been acclaimed for its fault-tolerance,
        uptime and high availability.
      </p>
      <p id="address">
        Bit-Trading Solo Co.,LTD
        Nonsawang Village, Sikhodtabong Distict, Vientiane Capital City, Lao P.D. R
      </p>
    </div>
  </div>
</div>
