<%= render 'shared/header' %>
<div class="bititrade-content">
  <div class="termofuser container">
    <div class="color-primary">利用規約</div>
    <div class="termofuser-content">
      <p class="first-sentence">この利用規約（以下「本規約」といいます。）は、ビットステーション株式会社（以下「当社」といいます。）が提供する仮想通貨取引所その他の当社が提供するサービスのご利用に関する条件を、お客様と当社との間で定めるものです。当該サービスを登録ユーザーとしてご利用になる方は、本規約に同意したうえでご利用いただくものとします。</p>

      <ul class="none-bullet">
        <h4 class="rule_number">第1条 （定義）</h4>
        <li>1.本規約において使用する以下の用語は、それぞれ以下に定める意味を有するものとします。
          <ul>
            <li>(1) &nbsp;「取引所」とは、当社が提供するビットステーションという名称の、当社が別途定める仮想通貨（以下「仮想通貨」といいます。）の売買に関するサービス、登録ユーザー間で仮想通貨の売買をする場を提供するサービス、これに関して登録ユーザーの当社が別途定める法定通貨（以下「金銭」といいます。）又は仮想通貨の管理をするサービス、その他関連サービス（理由を問わずサービスの名称又は内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</li>
            <li>(2) &nbsp;「当社ウェブサイト」とは、そのドメインが「Bit-Trading」である当社が運営するウェブサイト（サブドメインを含み、また、理由を問わず当社のウェブサイトのドメイン又は内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。</li>

            <li>(3) &nbsp;「登録希望者」とは、第3条において定義された「登録希望者」を意味します。</li>
            <li>(4) &nbsp;「登録情報」とは、第3条において定義された「登録情報」を意味します。</li>
            <li>(5) &nbsp;「登録ユーザー」とは、第3条に基づき本サービスの利用者としての登録がなされた個人又は法人を意味します。</li>
            <li>(6) &nbsp;「ユーザーウォレット」とは、登録ユーザーが保有する仮想通貨及び登録ユーザーが本サービスを利用して取引をするための金銭を当社が管理するために、当社所定の方法により開設したウォレットを意味します。</li>
            <li>(7) &nbsp;「利用契約」とは、第3条第3項に基づき当社と登録ユーザーの間で成立する、本規約の諸規定に従った本サービスの利用契約を意味します。</li>
            <li>(8) &nbsp;「知的財産権」とは、著作権、特許権、実用新案権、商標権、意匠権その他の知的財産権（これらの権利を取得し、又はこれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
            <li>(9) &nbsp;「反社会的勢力等」とは、暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します</li>
            <li>(10) &nbsp;「外国の重要な公的地位」とは、外国における以下のいずれかの地位を意味します。</li>
              <ul>
                <li>・ 国家元首</li>
                <li>・ 我が国における内閣総理大臣その他の国務大臣及び副大臣に相当する職</li>
                <li>・ 我が国における衆議院議長、衆議院副議長、参議院議長又は参議院副議長に相当する職</li>
                <li>・ 我が国における最高裁判所の裁判官に相当する職</li>
                <li>・ 我が国における特命全権大使、特命全権公使、特派大使、政府代表又は全権委員に相当する職</li>
                <li>・ 我が国における統合幕僚長、統合幕僚副長、陸上幕僚長、陸上幕僚副長、海上幕僚長、海上幕僚、副長、航空幕僚長又は航空幕僚副長に相当する職</li>
                <li>・ 中央銀行の役員</li>
                <li>・ 予算について国会の議決を経、又は承認を受けなければならない法人の役員</li>
              </ul>
            <li>(11)「外国の重要な公人（Politically Exposed Persons）」とは、外国の重要な公的地位にある方、及び過去に外国の重要な公的地位にあった方を意味します。</li>
            <li>(12)「外国の重要な公人の家族」とは、外国の重要な公人の配偶者（婚姻の届出をしていないが、事実上婚姻関係と同様の事情にある方を含みます。以下において同じ。）、父母、子及び兄弟姉妹並びにこれらの方以外の配偶者の父母及び子を意味します。</li>
          </ul>
        </li>

        <h4 class="rule_number">第2条（適用）</h4>
        <li>
          <ul>
            <li>1. ユーザーは、本規約の定めに従って本サービスを利用しなければなりません。ユーザーは、本規約に有効かつ取消不能な同意をしたうえで、当社所定の方法により、本サービスの利用登録を行わない限り、本サービスをご利用することはできません。</li>
            <li>2. 登録ユーザーが未成年者である場合は、親権者など法定代理人の同意を得たうえで本サービスをご利用ください。また登録ユーザーが本サービスを事業者のために利用する場合には、当該事業者も本規約に同意したうえで本サービスをご利用いただくものとします。</li>
            <li>3. 当社が当社ウェブサイト上で随時掲載する本サービスに関するルール、説明その他の各規程等（以下「各規程等」といいます。）は本規約の一部を構成し、登録ユーザーはこれらの定めに従って本サービスを利用するものとします。なお、本規約の内容と当社ウェブサイト上で随時掲載する各規程等の内容が異なる場合、当社ウェブサイト上で随時掲載する各規程等の内容が優先して適用されるものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第3条（定義）</h4>
        <li>
          <ul>
            <li>1. 本サービスの利用を希望する者（以下「登録希望者」といいます。）は、本規約に同意した上で、当社所定の情報（以下「登録情報」といいます。）を当社所定の方法で当社に提供することにより、当社に対し、本サービスの利用登録を申請するものとします。</li>
            <li>2. 当社は、当社所定の基準及び手続（取引時確認の手続を含みます。）に従って、登録希望者の登録の可否を判断し、当社が登録を認める場合にはその旨を登録希望者に通知し、この通知により登録希望者の登録ユーザーとしての登録は完了したものとします</li>
            <li>3. 前項に定める登録の完了時に、本規約の諸規定に従った本サービスの利用契約が登録ユーザーと当社の間に成立するものとし、登録ユーザーは本サービスを当社所定の方法で利用することができるようになります。 </li>
            <li>4. 当社は、第1項に基づき登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否することがあります。
              <ul>
                <li>(1) 当社に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</li>
                <li>(2) 未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合</li>
                <li>(3) 反社会的勢力等である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与するなど反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</li>
                <li>(4) その他、当社が登録を適当でないと判断した場合</li>
              </ul>
            </li>
            <li>5. 第2項に定める登録の完了後、関連法令所定の取引時確認が必要な場合その他当社が必要と認めた場合は、再度、登録ユーザーに対し、当社が指定する必要書類の提出を求めることがあります。これらの必要書類の提出がない場合（当社が定める期日までに当社に連絡がない場合、登録ユーザーがあらかじめ届け出た住所へ発送した提出を求める通知書が不着のため当社に返送された場合、及び登録ユーザーがあらかじめ届け出た電話番号等への連絡がとれない場合等を含みます。）、当社は、当社の判断に基づき、当該登録ユーザーとの取引の全部若しくは一部を停止し、又は登録を抹消することがあります。これにより生じた損害については、当社は一切責任を負わないものとします。</li>
            <li>6. 第2項の定めにより登録希望者が登録ユーザーとしての登録を認められなかった場合でも、当社は、当該登録希望者にその理由を明らかにする義務を負わないものとします。またこの場合、当社は、登録希望者から受領した書類等を返還する義務を負わないものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第4条（登録情報の変更）</h4>
        <li>
          <ul>
            <li>登録ユーザーは、登録情報に変更があった場合は、遅滞なく、当社所定の方法により、当該変更事項を当社に通知し、当社から要求された必要書類を提出するものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第5条（外国の重要な公人に係る届出）</h4>
        <li>
          <ul>
            <li>1. 登録ユーザーは、次の各号のいずれかに該当し、又は該当することとなった場合、必ずその旨を当社に届け出るものとします。
              <ul>
                <li>(1) 外国の重要な公人（Politically Exposed Persons）</li>
                <li>(2) 外国の重要な公人（Politically Exposed Persons）の家族</li>
              </ul>
            </li>
            <li>2.  登録ユーザーは、前項の届出事項に変更があった場合、遅滞なく当社に対して、届け出るものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第6条（ユーザーID及びパスワードの管理）</h4>
        <li>
          <ul>
            <li>1. 登録ユーザーは、自己の責任において、ユーザーID及びパスワードを管理及び保管するものとし、これを第三者（代理人を含みます。）に利用させたり、貸与、譲渡、名義変更、売買等をしてはならないものとします。</li>
            <li>2. 当社は、当社ウェブサイトへのログイン時又は本サービス利用時に入力されたユーザーID及びパスワードと、あらかじめ設定されたユーザーID及びパスワードとを照合し、その一致を確認することで取引時確認を行うものとします。かかる取引時確認によりお客様を正当な利用者とみなして取扱いを行った場合は、当該ユーザーID及びパスワードの偽造、変造、盗用又は不正使用その他の事故があっても、当社は当該取扱いに係る取引を有効なものとみなします。</li>
            <li>3. ユーザーID又はパスワードの管理不十分、使用上の過誤、第三者の使用等による損害の責任は登録ユーザーが負うものとし、当社は一切の責任を負いません。</li>
            <li>4. 登録ユーザーは、ユーザーID又はパスワードが盗まれたり、第三者に使用されていることが判明した場合には、直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第7条（手数料等及び支払方法）</h4>
        <li>
          <ul>
            <li>1. 本サービスにかかる手数料等は、別途当社が掲示するとおりとします。なお、本サービスのご利用にあたって、税金や付帯費用が発生する場合には、登録ユーザーがこれらを負担するものとします。そのほか、ユーザーウォレットからの出金に際して金融機関所定の費用などが発生しますので、ご留意ください。</li>
            <li>2. 登録ユーザーが前項の手数料等の支払を遅滞した場合、登録ユーザーは年14.6％（1年に満たない期間は日割計算によります。）の割合による遅延損害金を当社に支払うものとします。</li>
            <li>3. 登録ユーザーは、本規約において別途定める場合を除き、当社が登録ユーザーに対して負担する債務と登録ユーザーが当社に対して負担する債務とを相殺することができないものとします。</li>
            <li>4. 本契約に基づく支払は、当社が別途定める法定通貨によるものとし、ユーザーウォレットから引き落とす方法により行うものとします。但し、当社が別途定める場合には、仮想通貨をユーザーウォレットから引き落とす方法による料金の支払を要する場合があります。</li>
          </ul>
        </li>

        <h4 class="rule_number">第8条（ユーザーウォレット）</h4>
        <li>
          <ul>
            <li>1. 登録ユーザーは、第3条に定める登録手続の完了により、ユーザーウォレットを保有します。登録ユーザーは、ユーザーウォレットを保有することにより、本サービスを利用した取引並びに仮想通貨及び金銭の管理をすることができます。但し、当社は、合理的理由に基づき、ユーザーウォレット内の仮想通貨又は金銭が犯罪収益に関するものであると判断した場合には、当該ユーザーウォレットを削除又は停止等の措置をすることができるものとします。</li>
            <li>2. 登録ユーザーは、本サービスを利用して取引を行うことを目的として、当社指定の銀行口座に対する振込手続その他当社所定の方法により、ユーザーウォレットへの入金を行うことができるものとします。また、登録ユーザーは、当社所定の方法により、ユーザーウォレットへの仮想通貨の預入れを行うことができるものとします。なお、入金及び仮想通貨の預入れは、登録ユーザーの振込その他の手続の完了時点ではなく、当社がその入金又は仮想通貨の送信を合理的に認識し得る時点をもって預託されたものとします。</li>
            <li>3. 当社は、登録ユーザーの要求により、当社所定の方法に従い、ユーザーウォレットからの金銭の払戻し又は仮想通貨の送信に応じます。登録ユーザーは、自己の責任において金銭の振込先銀行口座（登録ユーザー本人名義の銀行口座に限ります。）又は仮想通貨の送信先を指定することとし、当社は、登録ユーザーの指図に従って当該銀行口座又は送信先に入金又は仮想通貨の移転を行った場合には、かかる金銭又は仮想通貨について一切の責任を免れます。また、当社は、登録ユーザーが提供した振込先又は送信先の情報の正確性及び有効性について、一切責任を負いません。</li>
            <li>4. 合理的な理由に基づき当社が別途通知した場合を除き、前項の金銭の払戻し又は仮想通貨の送信には、依頼日から原則として2銀行営業日を要します。但し、登録ユーザーからの払戻し又は送信の依頼にかかわらず、ユーザーウォレット内の金銭又は仮想通貨に不足が発生している場合には、当社は、当該払戻し又は送信の依頼を取り消すことができるものとします。</li>
            <li>5. 登録ユーザーよりお預かりした金銭が、長期間に渡り仮想通貨購入のために使用されない場合には、当社は、登録ユーザーに通知したうえで、登録ユーザーの承諾を得ることなく、当該金銭について、第7条第3項に基づき登録ユーザーが指定した振込先預金口座に振り込むことができるものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第9条（受取証書の発行）</h4>
        <li>
          <ul>
            <li>1. 登録ユーザーは、当社が登録ユーザーから金銭又は仮想通貨を受領したときに交付する書面に代えて、仮想通貨交換業に関する内閣府令第17条第3項に規定する事項（以下「受取証書記載事項」といいます。）を電磁的方法により提供を受けとることについて承諾します。</li>
            <li>2. 当社は、登録ユーザーがあらかじめ届け出たメールアドレス宛に受取証書記載事項を記載した書面データを送信します。但し、登録ユーザーが当社に届け出ているメールアドレスが携帯電話又はスマートフォンのものである場合で、送信後３か月以内に登録ユーザーが書面による受取証書の発行を請求した場合には、当社は所定の方法により受取証書を発行するものとします。</li>
            <li>3. 登録ユーザーは、第1項に基づく承諾を撤回することができます。但し、当該承諾の撤回がなされた場合には、当社は事前に通知することなく必要な措置を講じることができるものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第10条（本サービスの利用）</h4>
        <li>
          <ul>
            <li>1. 登録ユーザーは、有効に登録ユーザーとして登録されている期間内に限り、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、当社所定の方法に従い、本サービスを利用することができます。</li>
            <li>2. 登録ユーザーは、本サービスの提供を受けるために必要な、コンピューター、ソフトウェアその他の機器、通信回線その他の通信環境等を、登録ユーザーの費用と責任において準備（必要なアプリケーションのインストールを含みます。）及び維持するものとします。</li>
            <li>3. 登録ユーザーは、自己の本サービスの利用環境に応じて、コンピューター・ウィルスの感染の防止、不正アクセス及び情報漏洩の防止等のセキュリティ対策を自らの費用と責任において講じるものとします。</li>
            <li>4. 登録ユーザーは、本規約に違反することにより又は本サービスの利用に関連して当社に損害を与えた場合、その損害を賠償しなければなりません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第11条（仮想通貨に関する取引）</h4>
        <li>
          <ul>
            <li>1. 本サービスのうち、仮想通貨の売買に関するサービスについての利用条件は以下のとおりです。
              <ul>
                <li>(1) 登録ユーザーは、当社所定の方法に従って仮想通貨の売却の注文及び購入の注文をすることにより、当社との間で仮想通貨の現物取引を行うことができます。</li>
                <li>(2) 仮想通貨を購入及び売却する価格は、登録ユーザーの指図に従って当社所定の方法により提示される価格と、相手方が提示した価格の合致により決定するものであり、当該価格に関し当社は一切の責任を負いません。</li>
                <li>(3) 前号の規定により価格が決定した時点で、登録ユーザー及び当社の間にビットコインの売買に関する契約が成立したものとみなします。登録ユーザーは、仮想通貨の売買が成立した時点からは、売買の注文を撤回又は変更することはできません。</li>
                <li>(4) 仮想通貨の現物取引に関するその他の条件は、当社が別途定めるルールによるものとします。</li>
              </ul>
            </li>
            <li>2. 本サービスのうち、登録ユーザー間で仮想通貨の売買をする場を提供するサービスについての利用条件は以下のとおりです。
              <ul>
                <li>(1) 登録ユーザーは、当社が定める方法に従って仮想通貨の売却の注文及び購入の注文をすることにより、仮想通貨の現物取引を行うことができます。</li>
                <li>(2) 当社は、前号の注文に従い、仮想通貨の売買の場を提供するものであり、例外的に当社が売買の当事者となる場合を除き、当社が仮想通貨の売買の当事者となるものではありません。また、当社は、仮想通貨の売買の成立を登録ユーザーに約束又は保証するものではありません。</li>
                <li>(3) 仮想通貨を購入及び売却する価格は、登録ユーザーの指図に従って当社所定の方法により提示される価格と、相手方が提示した価格の合致により決定するものであり、当該価格に関し当社は一切の責任を負いません。</li>
                <li>(4) 登録ユーザー及び相手方により提示される価格が合致した時点で、両者の間に仮想通貨の売買に関する契約が成立したものとみなします。登録ユーザーは、仮想通貨の売買が成立した時点からは、売買の注文を撤回又は変更することはできません。</li>
                <li>(5) 仮想通貨の現物取引に関するその他の条件は、当社が別途定めるルールによるものとします。</li>
              </ul>
            </li>
          </ul>
        </li>

        <h4 class="rule_number">第12条（禁止事項）</h4>
        <li>
          <ul>
            <li>1.登録ユーザーは、本サービスの利用に関して、以下の各号のいずれかに該当する行為をしてはなりません。
              <ul>
                <li>(1) 当社又は本サービスの他の登録ユーザーその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為（これらの侵害を直接又は間接に惹起する行為を含みます。）</li>
                <li>(2) マネー・ローンダリングに関連する行為若しくはこれに類似する行為、犯罪行為に関連する行為又は公序良俗に反する行為</li>
                <li>(3) 本サービスを利用して取引を行う目的以外で金銭を預託する行為</li>
                <li>(4) 法令又は当社若しくは登録ユーザーが所属する業界団体の内部規則に違反する行為</li>
                <li>(5) コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為</li>
                <li>(6) 本サービスに関し利用しうる情報を改ざんする行為</li>
                <li>(7) 当社が定める一定のデータ容量以上のデータを本サービスを通じて送信する行為</li>
                <li>(8) 広告配信等の他の登録ユーザーに対する勧誘行為</li>
                <li>(9) ビットコインの二重譲渡に該当する行為又はこれを試みる行為</li>
                <li>(10)  当社による本サービスの運営を妨害するおそれのある行為</li>
                <li>(11)  同一人物が複数のユーザーウォレットを開設し、又は開設しようとする行為</li>
                <li>(12)  他人（仮設人を含む。）の名義をもってユーザーウォレットを開設し、又は開設しようとする行為</li>
                <li>(13)  その他、当社が不適切と判断する行為</li>
              </ul>
              <li>2.  当社は、本サービスにおける登録ユーザーの行為が前項各号のいずれかに該当し、又は該当するおそれがあると当社が判断した場合には、当社の裁量で、登録ユーザーにあらかじめ通知することなく、当該登録ユーザーが送信した情報の全部若しくは一部の削除、当該登録ユーザーのユーザーウォレットの削除若しくは停止、本サービスの利用の停止、登録ユーザーとしての登録の取消、その他当社が必要かつ適切と判断する措置をとることができるものとします。当社は、本項に基づき当社が行った措置により登録ユーザーに生じた損害について一切の責任を負いません。<li>
              <li>3.  前項の定めにより登録ユーザーのユーザーウォレットが削除された場合でも、当社は、当該削除の時までに登録ユーザーから受領した書類等を返還する義務を負わないものとします。</li>
            </li>
          </ul>
        </li>

        <h4 class="rule_number">第13条（本サービスの停止等）</h4>
        <li>
          <ul>
            <li>1. 当社は、以下のいずれかに該当する場合には、登録ユーザーにあらかじめ通知することなく、本サービスの利用の全部又は一部を停止又は中断することができるものとします
              <ul>
                <li>(1) 本サービスに係るコンピューター・システムの点検又は保守作業を定期的又は緊急に行う場合</li>
                <li>(2) 通信回線、通信手段、コンピューター等が障害により停止した場合</li>
                <li>(3) 火災、停電、天災地変等の不可抗力により本サービスの運営ができなくなった場合</li>
                <li>(4) ハッキングその他の方法により当社の資産が盗難された場合</li>
                <li>(5) 本サービスの提供に必要なシステム異常が生じた場合</li>
                <li>(6) ユーザーウォレットの不正利用等の調査を行う場合</li>
                <li>(7) 仮想通貨の流動性が低下した場合</li>
                <li>(8) その他、当社が停止又は中断を必要と判断した場合</li>
              </ul>
            </li>
            <li>2. 当社は、当社の都合により、本サービスの提供を終了することができます。この場合、当社は登録ユーザーに事前に通知するものとします。</li>
            <li>3. 当社は、本条に基づき当社が行った措置により登録ユーザーに生じた損害について一切の責任を負いません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第14条（権利帰属）</h4>
        <li>
          <ul>
            <li>1.  当社ウェブサイト及び本サービスに関する所有権及び知的財産権は全て当社又は当社にライセンスを許諾している者に帰属しており、本規約に定める登録に基づく本サービスの利用許諾は、当社ウェブサイト又は本サービスに関する当社又は当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。登録ユーザーは、いかなる理由によっても当社又は当社にライセンスを許諾している者の知的財産権を侵害するおそれのある行為（逆アセンブル、逆コンパイル、リバースエンジニアリングを含みますが、これらに限定されません。）をしないものとします。</li>
            <li>2.  当社ウェブサイト又は本サービスにおいて、登録ユーザーが投稿その他送信を行った文章、画像、動画その他のデータについては、当社において、無償で自由に利用（複製、複写、改変、第三者への再許諾その他のあらゆる利用を含みます。）することができるものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第15条（契約期間）</h4>
        <li>
          <ul>
            <li>1.  利用契約の期間は、第3条第2項に定める登録の完了時より1年間とします。但し、契約終了の1か月前までに、当社又は登録ユーザーのいずれからも異議がない場合には、更に1年間自動更新するものとします。</li>
            <li>2.  利用契約は契約期間の中途においても、当社所定の手続で解約することができます。</li>
            <li>3.  利用契約が解約その他の理由で終了した場合には、当社は、登録ユーザーに通知したうえで、登録ユーザーの承諾を得ることなく、ユーザーウォレット内の金銭について、第8条第3項に基づき登録ユーザーが指定した振込先預金口座に振り込むことができるものとします。但し、ユーザーウォレット内の金銭が振込手数料に満たない場合には、当社は、当該金銭を返金する義務を負いません。また、ユーザーウォレット内の仮想通貨は、登録ユーザーが解約までに引き出すものとし、引き出されなかったものについては解約日をもって円転して金銭とあわせて、第8条第3項に基づき登録ユーザーが指定した振込先預金口座に振り込むものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第16条（登録の取消等）</h4>
        <li>
          <ul>
            <li>1.  当社は、登録ユーザーが以下の各号のいずれかの事由に該当する場合は、あらかじめ通知又は催告することなく、当該登録ユーザーについて本サービスの利用を一時的に停止し、又は登録ユーザーとしての登録を取り消すこと、その他当社が必要かつ適切と判断する措置をとることができるものとします。
              <ul>
                <li>(1) 本規約に違反した場合</li>
                <li>(2) 登録情報に虚偽の事実があることが判明した場合</li>
                <li>(3) 当社、他の登録ユーザーその他の第三者に損害を生じさせるおそれのある目的若しくは方法で本サービスを利用した、又は利用しようとした場合</li>
                <li>(4) 手段を問わず、本サービスの運営を妨害した場合</li>
                <li>(5) 支払停止若しくは支払不能となった場合又は信用状態に重大な不安が生じた場合</li>
                <li>(6) 自ら振り出し、若しくは引き受けた手形若しくは小切手につき、不渡りの処分を受けた場合、又は手形交換所の取引停止処分その他これに類する措置を受けた場合</li>
                <li>(7) 破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てを受け、又は自ら申し立てた場合</li>
                <li>(8) 仮差押え、仮処分、差押え、強制執行又は競売の申立てがあった場合</li>
                <li>(9) 公租公課の滞納処分を受けた場合</li>
                <li>(10)  死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合</li>
                <li>(11)  合併、解散、減資又は事業の全部若しくは重要な一部の譲渡の決議があったとき</li>
                <li>(12)  最終利用日から1年以上本サービスの利用がなく、当社からの連絡に対して応答がない場合</li>
                <li>(13)  当社から電子メール又は電話で連絡を取ることができなくなった場合</li>
                <li>(14)  第3条第4項各号に該当する場合</li>
                <li>(15)  当社若しくは当社従業員に対して、社会通念上不適切な言動を行った場合</li>
                <li>(16)  その他、当社が登録ユーザーとしての登録の継続を適当でないと判断した場合</li>
                <li>(17)  前各号の事由が生じるおそれがあると当社が合理的に判断した場合</li>
              </ul>
            </li>
            <li>2.  前項各号のいずれかの事由に該当した場合、登録ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。</li>
            <li>3.  当社は、本条に基づき当社が行った行為により登録ユーザーに生じた損害について一切の責任を負いません。</li>
            <li>4.  登録ユーザーは、当社所定の方法で当社に通知することにより、本サービスの利用を一時的に停止し、又は登録ユーザーとしての登録を取り消すことができます。</li>
            <li>5.  本条の定めにより登録ユーザーとしての本サービスの利用が一時的に停止され、又は登録ユーザーとしての登録を取り消された場合でも、当社は、当該停止又は取消の時までに登録ユーザーから受領した書類等を返還する義務を負わないものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第17条（免責）</h4>
        <li>
          <ul>
            <li>1.  当社は、仮想通貨の売買並びに仮想通貨の価値、機能、使用先及び用途につき、いかなる保証及びいかなる責任（瑕疵担保責任を含みます。）も負うものではありません。さらに、登録ユーザーが当社から直接又は間接に本サービス又は他の登録ユーザーに関する情報を得た場合であっても、当該情報に関し、当社は登録ユーザーに対し本規約において規定されている内容を超えていかなる保証も行うものではありません。</li>
            <li>2.  当社は、仮想通貨の売買に関するサービス及び仮想通貨の売買の場を提供するサービスを行うものであって、登録ユーザーの注文を成立させる義務を負うものではありません。したがって、登録ユーザーの注文が成立せず、又は成立した売買契約において無効、取消、解除その他契約の成立又は有効性を妨げる事由があった場合でも、当社は、登録ユーザーに対して、損害を賠償する責任を一切負わないものとします。</li>
            <li>3.  登録ユーザーは、本サービスを利用することが、登録ユーザーに適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当社は、登録ユーザーによる本サービスの利用が、登録ユーザーに適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。</li>
            <li>4.  本サービス又は当社ウェブサイトに関連して登録ユーザーと他の登録ユーザー又は第三者との間において生じた取引、連絡、クレーム、要求、異議、紛争等については、登録ユーザーが、自らの費用と責任において処理及び解決するものとし、当社はかかる事項について一切責任を負いません。</li>
            <li>5.  当社は、当社による本サービスの提供の中断、停止、終了、利用不能又は変更、登録ユーザーのメッセージ又は情報の削除又は消失､登録ユーザーの登録の取消、本サービスの利用によるデータの消失又は機器の故障若しくは損傷、その他本サービスに関連して登録ユーザーが被った損害につき、賠償する責任を一切負わないものとします。</li>
            <li>6.  当社ウェブサイトから他のウェブサイトへのリンク又は他のウェブサイトから当社ウェブサイトへのリンクが提供されている場合でも、当社は、当社ウェブサイト以外のウェブサイト及びそこから得られる情報に関して、いかなる理由に基づいても一切の責任を負わないものとします。</li>
            <li>7.  当社は、仮想通貨に対する法律、政令、法令、規則、命令、通達、条例、ガイドラインその他の規制（以下「法令等」といいます。）若しくは関連した消費税を含む税制の将来の制定又は変更により登録ユーザーに損害が発生した場合であっても、賠償する責任を一切負わないものとします。</li>
            <li>8.  当社は、仮想通貨に対する法令等又は関連した消費税を含む税制の将来の制定又は変更の効力が過去に遡及した場合に、これにより登録ユーザーに損害が発生した場合であっても、過去に遡って賠償する責任を一切負わないものとします。</li>
            <li>9.  当社は、仮想通貨自体の価値、安定性及び適法性について、一切保証するものではありません。当社は、登録ユーザーによる、仮想通貨の性質、メカニズム及びマーケット運営等の理解不足から発生するいかなる損害について一切責任を負わないものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第18条（秘密保持）</h4>
        <li>
          <ul>
            <li>1.  本規約において「秘密情報」とは、本規約又は本サービスに関連して、登録ユーザーが、当社より書面、口頭若しくは記録媒体等により提供若しくは開示され、又は知り得た、当社の技術、営業、業務、財務、組織、その他の事項に関する全ての情報を意味します。但し、以下の各号のいずれかに該当する情報については、秘密情報から除外されるものとします。
              <ul>
                <li>(1) 当社から提供若しくは開示がなされたとき又は知得したときに、既に一般に公知となっていた、又は既に知得していたもの</li>
                <li>(2) 当社から提供若しくは開示がなされた後又は知得した後、自己の責めによることなく公知となったもの</li>
                <li>(3) 提供又は開示をする権限のある第三者から秘密保持義務を負わされることなく適法に取得したもの</li>
                <li>(4) 秘密情報によることなく単独で開発したもの</li>
                <li>(5) 当社から秘密保持の必要なき旨書面で確認されたもの</li>
              </ul>
            </li>
            <li>2.  登録ユーザーは、秘密情報を善良な管理者の注意義務をもって秘密として厳重に管理し、本サービスの利用の目的のみに利用するものとします。</li>
            <li>3.  登録ユーザーは、当社の書面による承諾なしに、第三者に対し、当社の秘密情報を提供、開示又は漏洩しないものとします。</li>
            <li>4.  前項の定めにかかわらず、登録ユーザーは、法律、裁判所又は政府機関の命令、要求又は要請に基づき、秘密情報を開示することができるものとします。但し、当該命令、要求又は要請があった場合、速やかにその旨を当社に通知しなければなりません。</li>
            <li>5.  登録ユーザーは、当社から求められた場合にはいつでも、遅滞なく、当社の指示に従い、秘密情報並びに秘密情報を記載又は包含した書面その他の記録媒体物及びその全ての複製物を返却又は廃棄しなければなりません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第19条（個人情報）</h4>
        <li>
          <ul>
            <li>1.  当社は、登録ユーザーのプライバシーを尊重し、登録ユーザーから収集した情報を安全に管理するため、セキュリティに最大限の注意を払っています。</li>
            <li>2.  当社が登録ユーザーから取得した情報の取扱いは当社のプライバシーポリシーに従います。</li>
          </ul>
        </li>

        <h4 class="rule_number">第20条（本規約等の変更）</h4>
        <li>
          <ul>
            <li>1.  当社は、本サービスの内容を自由に変更できるものとします。</li>
            <li>2.  当社は、登録ユーザーの事前の承諾を得ることなく、当社の判断により、本規約（第2条第3項に定める各規程等を含みます。以下同じ。）をいつでも変更できるものとします。</li>
            <li>3.  当社は、本規約を変更する場合には、本規約を変更する旨、当該変更内容及び当該変更の効力発生を当社所定の方法により通知するものとし、変更後の規約の効力発生日以降に、登録ユーザーが本サービスを利用した場合又は当社所定の期間内に登録取消の手続をとらなかった場合には、登録ユーザーは、本規約の変更に同意したものとみなします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第21条（通知等）</h4>
        <li>
          <ul>
            <li>本サービスに関する問い合わせその他登録ユーザーから当社に対する連絡又は通知、及び本規約の変更に関する通知その他当社から登録ユーザーに対する連絡又は通知は、当社所定の方法で行うものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第22条（権利の譲渡等）</h4>
        <li>
          <ul>
            <li>1.  登録ユーザーは、当社の書面による事前の承諾を得ることなく、利用契約上の地位又は本規約に基づく権利若しくは義務の全部又は一部につき、第三者に対し、譲渡若しくは移転し、担保に供し、又はその他の処分をしてはならないものとします。</li>
            <li>2.  当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録情報その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項においてあらかじめ同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第23条（準拠法及び管轄裁判所）</h4>
        <li>
          <ul>
            <li>1. 本規約の準拠法は日本法とし、日本法に従って解釈されるものとします。</li>
            <li>2. 本規約に起因し又は関連する一切の紛争については、名古屋地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第24条（協議）</h4>
        <li>
          <ul>
            <li>当社及び登録ユーザーは、本規約に定めのない事項又は本規約の解釈に疑義が生じた事項については、互いに誠意をもって協議の上速やかに解決を図るものとします。</li>
          </ul>
        </li>
      </ul>


      <!-- arb -->
      <ul class="none-bullet arb-term">
        <div class="color-primary">アービトラージポット利用規約</div>
        <div>
          この利用規約（以下「本規約」といいます。）は、ビットステーション株式会社（以下「当社といいます。）が提供する「アービトラージポットサービス」（以下「本サービス」といいます。）のご利用に関する条件を、お客様と当社との間で定めるものです。本サービスをご利用になる方は、当社が運営する仮想通貨取引所「ビットステーション」（以下「ビットステーション」といいます。）の利用登録をしていることを前提に、本規約をご確認いただき、内容を理解のうえ同意いただいた方のみ、ご利用いただけます。
        </div>

        <h4 class="rule_number">第1条 （適用）</h4>
        <li>
          <ul>
            <li>1. ユーザーは、本規約の定めに従って本サービスを利用しなければなりません。ユーザーは、本規約に有効かつ取消不能な同意をしたうえで、当社所定の方法により、本サービスの利用登録を行わない限り、本サービスをご利用することはできません。</li>
            <li>2. 未成年者は本サービスのご利用ができません。またユーザーが本サービスを事業のために利用する場合には、当該事業を行う者として本規約に同意したうえで本サービスをご利用いただくものとします。</li>
            <li>3. 当社が当社ウェブサイト上で随時掲載する本サービスに関するルール、説明その他の各規程等（以下「各規程等」といいます。）は本規約の一部を構成し、登録ユーザーはこれらの定めに従って本サービスを利用するものとします。なお、本規約の内容と当社ウェブサイト上で随時掲載する各規程等の内容が異なる場合、当社ウェブサイト上で随時掲載する各規程等の内容が優先して適用されるものとします。</li>
            <li>4. 本規約に定めのない事項については、当社が定めるビットステーション利用規約が適用されるものとします。</li>
          </ul>
        </li>
       
        <h4 class="rule_number">第2条 （利用者）</h4>
        <li>
          <ul>
            <li>本サービスのユーザーは、あらかじめ、当社所定方法により、ビットステーションの利用登録を行う必要があります。</li>
          </ul>
        </li>

        <h4 class="rule_number">第3条 （本サービス）</h4>
        <li>
          <ul>
            <li>
              当社は、当社の資金を用いて、TAOCOIN以外の仮想通貨の差益取引（以下「本件アービトラージ」という。）を行います。ユーザーから、当該ユーザーの保有する仮想通貨（TAOCOIN）の預託を受けた後、当社が本件アービトラージを行って得た利益のうち、当社所定の一定割合を控除した残余をユーザーの預託量に応じて配分するサービスです。本サービスの詳細については、<a href="https://taocoin.asia/jp" target="_blank">https://taocoin.asia/jp</a>をご覧ください。
            </li>
          </ul>
        </li>

        <h4 class="rule_number">第4条 （本サービスの性質）</h4>
        <li>
          <ul>
            <li>1. 本サービスは、仮想通貨の売買や他の仮想通貨との交換、これらの媒介、取次若しくは代理、又はこれらに関しユーザーの金銭や仮想通貨を管理するものではなく、仮想通貨交換業（資金決済に関する法律第2条7項に規定するもの）を行うものではありません。したがって、本サービスには、仮想通貨交換業に係る規制の適用はなく、第5条第1項で定義するアービトラージポットに預託されたTAOCOINは、同法に定める分別管理の対象となるものではありません。</li>
            <li>2. 本サービスは、当社がユーザーから金銭の預託、拠出又は出資を受けるものではなく、預金や有価証券への投資勧誘を行うものではありません。</li>
            <li>3. 当社は、自己資金で、本件アービトラージを行い、本サービスを提供するものであり、ユーザーが預託したTAOCOINを原資とするものではありません。</li>
            <li>4. 本サービスは、当社がTAOCOIN以外の仮想通貨の差益取引を行うものであり、有価証券やデリバティブ取引に係る権利に対する投資を行うものではありません。</li>
            <li>5. 当社は、本件アービトラージによって損失が生じた場合に、自ら当該損失を負担するものとし、ユーザーが預託したTAOCOINが減少することはありません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第5条 （ユーザーによるTAOCOINの預託）</h4>
        <li>
          <ul>
            <li>1. ユーザーは、本サービスの提供を受けるために、当社所定の方法により、ユーザーの保有するTAOCOINの範囲内で、自らの希望する数量のTAOCOINを預託することができます。なお、ユーザーの保有するTAOCOINの預託場所を「アービトラージポット」といいます。</li>
          </ul>
        </li>

        <h4 class="rule_number">第6条 （本アービトラージによる収益の分配）</h4>
        <li>
          <ul>
            <li>1. 当社は、当社所定の基準日において、本件アービトラージによる利益のうち、当社所定の一定割合を控除した残余を、全ユーザーが預託したTAOCOINの総数のうち、各ユーザーが預託したTAOCOINの数の割合に応じて、配当金として各ユーザーに分配します。なお、本件アービトラージによる利益が生じない場合には、配当金の分配は行われないものとする。</li>
            <li>2. 前項の配当金の分配は、当社所定の通貨又はTAOCOIN以外の仮想通貨の中から、ユーザーが選択した通貨等によって当社所定の方法により分配するものとし、TAOCOINによる分配は行わないものとします。</li>
            <li>3. 当社は、ユーザーが前項に基づき、配当金を円貨以外の通貨又は仮想通貨での支払いを選択した場合には、当社所定の方法により、当該通貨又は仮想通貨に交換するものとします。この場合、当該交換に際して当社が負担した手数料は、配当金から控除するものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第7条 （TAOCOINの返還）</h4>
        <li>ユーザーは、当社所定の方法により、いつでもアービトラージポットに預託したTAOCOINの返還を申し出ることができ、当該申出時点において、当該利用者が預託していたTAOCOINの返還を受けることができます。</li>
        
        <h4 class="rule_number">第8条（退会）</h4>
        <li>
          <ul>
            <li>1. ユーザーは、当社所定の方法で、当社に利用停止希望日の1営業日前までに通知することにより、本サービスの利用に係るユーザーとしての登録を取り消すことができます</li>
            <li>2. 前項により登録を取り消した際に、アービトラージポットに預託したTAOCOINがある場合には、当社所定の方法により、当該TAOCOINを返還するものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第9条 （登録の取消等）</h4>
        <li>
          <ul>
            <li>1. 当社は、ユーザーが以下の各号のいずれかの事由に該当する場合は、あらかじめ通知又は催告することなく、当該ユーザーについて本サービスの利用を一時的に停止し、又はユーザーとしての登録を取り消すこと、その他当社が必要かつ適切と判断する措置をとることができるものとします。</li>
            <li>
              <ul>
                <li>（1） 第2条に定めるユーザーとしての資格を喪失した場合</li>
                <li>（2） ビットステーションの利用が停止された場合</li>
                <li>（3） 本規約又は関連法令に違反した場合</li>
                <li>（4） 登録情報に虚偽の事実があることが判明した場合</li>
                <li>（5） 当社、他のユーザーその他の第三者に損害を生じさせるおそれのある目的若しくは方法で本サービスを利用した、又は利用しようとした場合</li>
                <li>（6） 手段を問わず、本サービスの運営を妨害した場合</li>
                <li>（7） 支払停止若しくは支払不能となった場合又は信用状態に重大な不安が生じた場合</li>
                <li>（8） 自ら振り出し、若しくは引き受けた手形若しくは小切手につき、不渡りの処分を受けた場合、又は手形交換所の取引停止処分その他これに類する措置を受けた場合</li>
                <li>（9） 破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てを受け、又は自ら申し立てた場合</li>
                <li>（10） 仮差押え、仮処分、差押え、強制執行又は競売の申立てがあった場合</li>
                <li>（11） 公租公課の滞納処分を受けた場合</li>
                <li>（12） 死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合</li>
                <li>（13） 合併、解散、減資又は事業の全部若しくは重要な一部の譲渡の決議があったとき</li>
                <li>（14） 当社からの電子メール又は電話による連絡に１ヶ月間応答がなく当社においてユーザーの意思の確認を行うことができないと判断した場合</li>
                <li>（15） 当社若しくは当社従業員に対して、社会通念上不適切な言動を行った場合</li>
                <li>（16） その他、当社がユーザーとしての登録の継続を適当でないと判断した場合</li>
                <li>（17） 前各号の事由が生じるおそれがあると当社が合理的に判断した場合</li>
              </ul>
            </li>
            <li>2. 前項の場合、ユーザーは、本サービスの利用に関する一切の権利を喪失するものとします。</li>
            <li>3. 当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について一切の責任を負いません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第10条 （譲渡等の禁止）</h4>
        <li>
          <ul>
            <li>ユーザーは、アービトラージポットに預託しているTAOCOINを第三者に対し、譲渡、質入その他一切の処分をすることはできません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第11条 （本サービスの変更・廃止)</h4>
        <li>
          <ul>
            <li>当社は、本サービスの全部もしくは一部を変更し又は廃止することができるものとします。その結果、ユーザーに損害が生じた場合でも、当社は一切責任を負わず、何らの補償も行いません。</li>
          </ul>
        </li>

        <h4 class="rule_number">第12条 （本規約等の変更）</h4>
        <li>
          <ul>
            <li>1. 当社は、ユーザーの事前の承諾を得ることなく、当社の判断により、本規約（第1条第3項に定める各規程等を含みます。以下同じ。）をいつでも変更できるものとします。</li>
            <li>2. 当社は、本規約を変更する場合には、本規約を変更する旨、当該変更内容及び当該変更の効力発生を当社所定の方法により通知するものとし、変更後の規約の効力発生日以降に、ユーザーが本サービスを利用した場合又は当社所定の期間内に登録取消の手続をとらなかった場合には、ユーザーは、本規約の変更に同意したものとみなします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第13条 （存続条項）</h4>
        <li>
          <ul>
            <li>本規約に基づくユーザーと当社との契約が終了した後においても、第4条、第9条第2項及び第3項、第10条、第11条、本条、第14条の規定は引き続き効力を有するものとします。</li>
          </ul>
        </li>

        <h4 class="rule_number">第14条 （準拠法及び管轄裁判所）</h4>
        <li>
          <ul>
            <li>1. 本規約の準拠法は日本法とし、日本法に従って解釈されるものとします。</li>
            <li>2. 本規約に起因し又は関連する一切の紛争については、名古屋地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
          </ul>
        </li>

        <li>（問い合わせ先）</li>
        <li>
          <ul>
            <li>本サービスに関するお問い合わせ及びご意見の申し出等につきましては、下記の当社窓口までお願いいたします。</li>
          </ul>
        </li>
        <li>お問合せ窓口</li>
        <li>
          <ul>
            <li>メールアドレス <a href="mailto:info＠bit-station.jp">info＠bit-station.jp</a></li>
          </ul>
        </li>
        <li class="line"></li>
        <li class="text-right">以上</li>

      </ul>
      <!-- !arb -->
      <div class="termofuser-bot">
        <p class="text-right">平成29年5月27日</p>
        <p class="text-right">ビットステーション株式会社</p>
      </div>
    </div>
  </div>
</div>
