<%= render "shared/menu_settings" %>
<form class="api_tokens">
  <div class="api_tokens_item1 form_api">
    <%= render "user_tokens" %>
  </div>
  <div class="api_tokens_item2 form_api">
    <%= render "oauth_tokens" %>
  </div>
</form>
