@media screen and (max-width: 1300px) {
  .bg-text-1 {
    span {
      font-size: 18px;
    }
  }

  .bg-text-2 {
    span {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 1130px) {
  .text-1-1 {
    font-size: 48px;
    padding-top: 80px;
  }
  .panel-text-1 {
    height: 66%;
    width: 20%;
    top: 137px;
    right: 181px;
    padding-top: 67px;
  }
  .text-2-1 {
    padding-right: 25px;
  }
  .bg-text-1 {
    span {
      font-size: 17px;
    }
  }

  .bg-text-2 {
    span {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .bg-text-3 {
    span {
      font-size: 23px;
    }
  }
  .text-1-1 {
    text-align: center;
    font-size: 40px;
    color: #51a7f9;
    padding-top: 77px;
  }

  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 66%;
    width: 20%;
    background-size: 100% 100%;
    position: absolute;
    top: 139px;
    right: 219px;
    padding-top: 65px;
  }

  .text-2-1 {
    padding-right: 32px;
    font-size: 17px;
    color: #51a7f9;
  }

  .text-2 {
  font-size: 21px;
  }

  .panel-2-2 {
    top: 55px;
  }

}

@media screen and (max-width: 991px) {
  .bg-text-3 {
    span {
      color: red;
      position: absolute;
      left: 59%;
      top: 26%;
      margin-top: 8px;
      font-size: 17px;
      font-weight: 700;
    }
  }
  .transform-text {
    transform:skewY(160deg);
    font-size: 44px;
    h4 {
      font-size: 15px;
    }
  }

  .bg-text-1 {
    span {
      font-size: 13px;
      top: 54%;
    }
  }

  .bg-text-2 {
    span {
      font-size: 13px;
    }
  }
  .text-3 {
    font-size: 17px;
    padding-top: 60px;
  }
  .share {
    left: 10%;
    position: absolute;
    float: left;
    top: 173px;
    width: 27%;
  }

  .text-1-1 {
    text-align: center;
    font-size: 32px;
    color: #51a7f9;
    padding-top: 66px;
  }

  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 67%;
    width: 20%;
    background-size: 100% 100%;
    position: absolute;
    top: 91px;
    right: 172px;
    padding-top: 64px;
  }

  .text-2-1 {
    font-size: 14px;
    padding-right: 2px;
  }

  .text-2-2 {
    font-size: 16px;
  }

  .text-2-3 {
    font-size: 16px;
  }

  .text-2 {
    font-size: 15px;
  }

  .link-to-root {
    font-size: 20px;
    padding-left: 17px;
  }

  .panel-2-2 {
    position: absolute;
    float: left;
    top: 42px;
    width: 100%;
  }

  .text-4 {
    font-size: 27px;
  }
}
@media screen and (max-width: 800px) {
  .text-2-padding {
    padding-top: 8px;
  }
  .panel-text-1 {
    top: 85px;
    padding-top: 51px;
  }
  .text-4 {
    font-size: 24px;
  }
  .logo-invite span {
    top: 13px;
  }
}
@media screen and (max-width: 767px) {
  .text-2-padding {
    padding-top: 7px;
  }
  .text-1-1 {
    text-align: center;
    font-size: 24px;
    color: #51a7f9;
    padding-top: 60px;
  }
  .text-4 {
    font-size: 22px;
  }
  .share {
    left: 10%;
    position: absolute;
    float: left;
    top: 150px;
    width: 28%;
  }
  .panel-2-2 {
    position: absolute;
    float: left;
    top: 30px;
    width: 90%;
  }

 .money-2 {

    font-size: 18px;
  }
  .money-3 {

    font-size: 18px;
  }
    .money-5 {

    font-size: 18px;
  }
  .bg-1-1 {
    padding: 25px;
    font-size: 14px;
  }
  .panel-text-1 {
    top: 80px;
    padding-top: 45px;
  }
  .text-2-1 {
    font-size: 13px;
    padding-right: 2px;
  }

  .text-2-2 {
    font-size: 15px;
  }

  .text-2-3 {
    font-size: 15px;
  }
  .text-3 {
    font-size: 16px;
    color: #821917;
    padding-top: 41px;
  }
  .bg-text-1 {
    span {
      font-size: 12px;
      top: 60%;
    }
  }

  .bg-text-2 {
    span {
      font-size: 12px;
      top: 60%;
    }
  }
  .bg-text-3 {
    span {
      font-size: 15px;
    }
  }
  .transform-text {
    h4 {
      font-size: 13px;
    }
  }
  .logo-invite span {
    top: 10px;
  }
}

@media screen and (max-width: 667px) {
  .text-4 {
    font-size: 20px;
  }
  .text-3 {
    font-size: 12px;
    padding-top: 37px;
  }

  .bg-text-1 {
    span {
      font-size: 11px;
      top: 60%;
    }
    img {
      width: 100%;
    }
  }

  .bg-text-2 {
    span {
      font-size: 11px;
      top: 60%;
    }
    img {
      width: 80%;
    }
  }
  .money-2 {
    font-size: 16px;
  }
  .money-3 {

    font-size: 16px;
  }
  .money-5 {

    font-size: 16px;
  }
  .bg-1-1 {
    padding: 21px;
    font-size: 12px;
  }
  .text-2-2 {
    font-size: 13px;
  }
  .text-2-1 {
    font-size: 11px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 13px;
  }
  .panel-text-1 {
    padding-top: 42px;
  }
  .text-2-padding {
    padding-top: 1px;
  }
  .text-2 {
    font-size: 12px;
  }
  .link-to-root {
    font-size: 14px;
    padding-left: 17px;
  }
  .panel-2-2 {
    top: 22px;
  }
    .share {
    top: 100px;
  }
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 78%;
    width: 25%;
    background-size: 100% 100%;
    position: absolute;
    top: 56px;
    right: 81px;
    padding-top: 31px;
  }
  .text-2-2 {
    font-size: 13px;
  }
  .text-2-1 {
    font-size: 11px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 13px;
  }
    .text-1-1 {
    text-align: center;
    font-size: 13px;
    color: #51a7f9;
    padding-top: 35px;
    padding-left: 16px;
  }
  .bg-text-3 {
    span {
      font-size: 12px;
    }
  }
  .transform-text {
    h4 {
      font-size: 11px;
    }
  }
  .logo-invite span {
    top: 8px;
  }
}

@media screen and (max-width: 568px) {
  .text-4 {
    font-size: 18px;
  }
  .bg-1-1 {
    padding: 15px;
    font-size: 12px;
  }
  .money-2 {
    font-size: 14px;
  }
  .money-3 {
    font-size: 14px;
  }
  .money-5 {
    font-size: 14px;
  }
  .text-2-padding {
    padding-top: 0px;
  }
  .text-2 {
    font-size: 10px;
  }
  .link-to-root {
    font-size: 13px;
    padding-left: 17px;
  }
  .panel-2-2 {
    top: 20px;
  }
  .share {
    top: 100px;
  }
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 78%;
    width: 25%;
    background-size: 100% 100%;
    position: absolute;
    top: 56px;
    right: 81px;
    padding-top: 31px;
  }
  .text-2-2 {
    font-size: 13px;
  }
  .text-2-1 {
    font-size: 11px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 13px;
  }
    .text-1-1 {
    text-align: center;
    font-size: 13px;
    color: #51a7f9;
    padding-top: 35px;
    padding-left: 16px;
  }

  .text-3 {
    font-size: 11px;
    padding-top: 35px;
  }

  .bg-text-1 {
    span {
      font-size: 7px;
      top: 60%;
    }
    img {
      width: 100%;
    }
  }

  .bg-text-2 {
    span {
      font-size: 7px;
      top: 60%;
    }
    img {
      width: 80%;
    }
  }
  .bg-text-3 {
    span {
      font-size: 9px;
      margin-top: 0px;
    }
  }
  .transform-text {
    h4 {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .text-4 {
    font-size: 16px;
  }
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 78%;
    width: 25%;
    background-size: 100% 100%;
    position: absolute;
    top: 56px;
    right: 81px;
    padding-top: 31px;
  }
  .text-2-2 {
    font-size: 13px;
  }
  .text-2-1 {
    font-size: 11px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 13px;
  }

  .text-2 {
    font-size: 10px;
    margin-top: 5px;
  }

  .share {
    top: 100px;
  }

  .text-1-1 {
    text-align: center;
    font-size: 13px;
    color: #51a7f9;
    padding-top: 35px;
    padding-left: 16px;
  }

  .panel-2-2 {
    top: 22px;

  }
  .link-to-root {
    font-size: 12px;
    padding-left: 9px;
  }
   .money-2 {

    font-size: 16px;
  }
  .money-3 {

    font-size: 16px;
  }
    .money-5 {

    font-size: 16px;
  }
  .bg-text-3 {
    span {
      font-size: 10px;
      margin-top: 0px;
    }
  }
  .transform-text {
    h4 {
      font-size: 9px;
    }
  }
  .logo-invite span {
    top: 6px;
  }
}

@media screen and (max-width: 414px) {
  .logo-invite span {
    top: 4px;
  }
  .text-4 {
    font-size: 13px;
  }
  .text-3 {
    font-size: 9px;
    padding-top: 27px;
  }

  .bg-text-1 {
    span {
      font-size: 7px;
      top: 52%;
    }
    img {
      margin-top: 29px;
      width: 100%;
    }
  }

  .bg-text-2 {
    span {
      font-size: 7px;
      top: 52%;
    }
    img {
      margin-top: 29px;
      width: 80%;
    }
  }
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 84%;
    width: 34%;
    background-size: 100% 100%;
    position: absolute;
    top: 34px;
    right: 55px;
    padding-top: 25px;
  }
  .text-2-2 {
    font-size: 12px;
  }
  .text-2-1 {
    font-size: 10px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 12px;
  }

  .text-2 {
    font-size: 10px;
    margin-top: 0px;
  }

  .share {
    top: 59px;
  }

  .text-1-1 {
    text-align: center;
    font-size: 13px;
    color: #51a7f9;
    padding-top: 25px;
    padding-left: 16px;
  }

  .panel-2-2 {
    top: 15px;

  }
  .link-to-root {
    font-size: 12px;
    padding-left: 9px;
  }
  .text-2-padding {
    padding-top: 9px;
  }
  .bg-text-3 {
    span {
      font-size: 8px;
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 375px) {
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 80%;
    width: 34%;
    background-size: 100% 100%;
    position: absolute;
    top: 38px;
    right: 55px;
    padding-top: 21px;
  }
  .text-2-2 {
    font-size: 12px;
  }
  .text-2-1 {
    font-size: 10px;
    padding-right: 2px;
  }

  .text-2-3 {
    font-size: 12px;
  }

  .text-2 {
    font-size: 9px;
    margin-top: 0px;
  }

  .share {
    top: 59px;
  }

  .text-1-1 {
    text-align: center;
    font-size: 13px;
    color: #51a7f9;
    padding-top: 25px;
    padding-left: 16px;
  }

  .panel-2-2 {
    top: 15px;
  }

  .link-to-root {
    font-size: 11px;
    padding-left: 9px;
  }
  .bg-text-3 {
    span {
      font-size: 7px;
      margin-top: 0px;
    }
  }

  .bg-text-1 span {
    font-size: 6px;
  }
   .bg-text-2 span {
    font-size: 6px;
  }

  .text-3 {
    font-size: 7px;
    padding-top: 25px;
  }
  .panel-2-2-right {
    text-align: right;
    padding-right: 0px;
  }
}

@media screen and (max-width: 360px) {
  .text-4 {
    font-size: 10px;
  }
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 80%;
    width: 34%;
    background-size: 100% 100%;
    position: absolute;
    top: 38px;
    right: 55px;
    padding-top: 19px;
  }
  .text-2-2 {
    font-size: 12px;
  }
  .text-2-1 {
    font-size: 10px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 12px;
  }

  .text-2 {
    font-size: 9px;
    margin-top: 0px;
  }

  .share {
    top: 59px;
  }

  .text-1-1 {
    text-align: center;
    font-size: 13px;
    color: #51a7f9;
    padding-top: 25px;
    padding-left: 16px;
  }

  .panel-2-2 {
    top: 12px;
  }
  .link-to-root {
    font-size: 10px;
    padding-left: 7px;
  }
  .text-2-padding {
    padding-top: 3px;
  }

  #invite_friends-index .invite_friend .advertisements .relation {
    font-size: 14px;
  }
  .text-3 {
    font-size: 7px;
    padding-top: 20px;
  }

  .bg-text-1 {
    span {
      font-size: 7px;
      top: 52%;
    }
    img {
      margin-top: 27px;
      width: 100%;
    }
  }

  .bg-text-2 {
    span {
      font-size: 7px;
      top: 52%;
    }
    img {
      margin-top: 27px;
      width: 80%;
    }
  }
  .bg-text-3 {
    span {
      font-size: 7px;
      margin-top: 0px;
    }
  }
  .bg-text-1 span {
    font-size: 6px;
  }
   .bg-text-2 span {
    font-size: 6px;
  }
}

@media screen and (max-width: 320px) {
  .text-4 {
    font-size: 9px;
  }
  .panel-text-1 {
    background-image: url(/invite-friends/4.png);
    height: 89%;
    width: 30%;
    background-size: 100% 100%;
    position: absolute;
    top: 21px;
    right: 65px;
    padding-top: 21px;
  }
  .text-2-2 {
    font-size: 9px;
  }
  .text-2-1 {
    font-size: 8px;
    padding-right: 2px;
  }
  .text-2-3 {
    font-size: 10px;
  }
  .text-2 {
      font-size: 8px;
      margin-top: 0px;
  }

  .share {
    top: 52px;
  }

  .text-1-1 {
      text-align: center;
      font-size: 13px;
      color: #51a7f9;
      padding-top: 25px;
      padding-left: 16px;
  }

  .panel-2-2 {
    top: 10px;

  }
  .link-to-root {
      font-size: 10px;
      padding-left: 8px;
  }
  .bg-text-3 {
    span {
      font-size: 6px;
      margin-top: -2px;
      margin-right: 5px;
    }
  }
  .transform-text {
    h4 {
      font-size: 8px;
    }
  }
  .text-3 {
    font-size: 6px;
    padding-top: 18px;
  }
  .bg-text-1 span {
    font-size: 5px;
  }
   .bg-text-2 span {
    font-size: 5px;
  }
}
