#security_setting_form {
  padding-bottom: 30px;
  background: #ffffff;
  width: 100%;
  display: inline-block;

  .title-header {
    font-family: HiraginoSans-W6;
    font-size: 30px;
    background: #63b1ff;
    border-radius: 2px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    height: 80px;
    margin: 0 auto;
    padding: 24px;

    @media screen and (max-width: 570px) {
      height: 60px;
      font-size: 24px;
      padding: 17px;
    }
  }

  h2{
    font-size: 18px;
    color: #ffffff;
    background: #5d99fd;
    border: 1px solid #426982;
    border-radius: 2px;
    height: 50px;
    line-height: 2.6;
    text-align: left;
  }

  form {
    margin-top: 30px;
    padding: 0 40px;
    max-width: 700px;
    @media screen and (max-width: 450px) {
      padding: 0 30px;
    }
    .form-group{
      text-align: center;
      margin-bottom: 10px;
      margin-left: 0 !important;
      margin-right: 0 !important;
      .form-input{
        float: none;
        width: 100% !important;
      }
    }

    .text-label {
      font-family:HiraginoSans-W6;
      font-size:17px;
      color:#696969;
      letter-spacing:0;
      width: 66%;
      float: left;
      text-align: left;

      @media screen and (max-width: 400px) {
        width: 70%;
        font-size: 16px;
      }
    }

    .onoffswitch {
        position: relative; width: 70px; margin-bottom: 20px; float: right;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
        @media screen and (max-width: 500px) {
          width: 60px;
        }
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        // border: 2px solid #999999;
        border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-right: 20px;
        background-color: #2591FD; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
        @media screen and (max-width: 500px) {
          padding-right: 2px;
        }
    }
    .onoffswitch-switch {
        display: block; 
        width: 30px; 
        height: 30px;
        margin: 0px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 40px;
        border: 2px solid #999999; 
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
        @media screen and (max-width: 500px) {
          right: 31px;
        }
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
  }
}
