.api_payment_form
{
  padding-bottom: 30px;
  background: #ffffff;
  width: 100%;
  display: inline-block;
  min-height: 700px;
  .api_key{
    .key{
      display: inline-block;
      background: #f3f3f2;
      width: 90%;
      max-width: 700px;
      .col
      {
        > div{
          border-top: 1px solid #dee2e6;
          padding: 10px 5px;
        }
      }
      .col-sm-3{
        font-weight: bold;
        text-align: right;
      }
      .col-sm-9{
        text-align: left;
      }
    }
   
  }
}