#resetPassword{
  max-width: 500px;
  background: white;
  margin: 50px auto 600px;
  padding: 50px;
  text-align: center;
  .form-input{
    max-width: 400px;
    margin: auto;
  }
  .form-error{
    display: block;
    padding: 0 30px;
  }
  .title-header{
    margin: 0;
    padding-bottom: 20px;
    font-size: 15px;
  }
  .error{
    text-align: left;
    color: red;
  }
  .sub-title {
    text-align: left;
  }

  @media screen and (min-width: 600px) {
    .title-header{
      font-size: 22px;
    }
  }
}
#reset_passwords-edit, #reset_passwords-update, #reset_passwords-new, #welcome-success_message{
  .bitirade-footer
  {
    position: absolute;
  }
}