#send_coin_form{
  background: #fff;
  @media screen and (min-width: 931px) {
    width: 83%;
    margin: 0 auto;
  }

  #new_sendcoin {
    text-align: center;
    padding: 50px 100px;

    @media screen and (max-width: 992px) {
      padding: 50px 50px;
    }

    @media screen and (max-width: 450px) {
      padding: 50px 15px;
    }

    .form-label{
      padding-top: 0;
      margin-right: 0;
    }
    .message_send_coin{
      color: #007324;
      text-align: left;
      margin-bottom: 10px;
      font-size: 13px;
    }

    .error {
      text-align: center;
      color: red;
      margin-top: -15px;
      margin-bottom: 15px;
      display: none;
    }
    .error {
      @media screen and (min-width: 320px) {
        font-size: 13px;
      }

      @media screen and (min-width: 769px) {
        margin-left: 24%;
      }

      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }

    .btn-send-coin-primary{
      height: 40px;
      line-height: 7px;
      font-size: 20px;
    }

    .form-group {
      text-align: left;
      margin-right: 0;
      margin-left: 0;
      @media screen and (min-width: 769px){
        display: flex;
      }
    }

    #sendcoin_currency{
      @media screen and (min-width: 769px){
        max-width: 110px;
      }
    }

    label{
      color: #696969 !important;
      font-family:HiraginoSans-W6;
      letter-spacing:0;
      font-weight: 900;
      @media screen and (min-width: 1200px){
        font-size: 18px;
      }

      @media screen and (max-width: 768px){
        margin-bottom: 10px;
      }
    }

    .form-label{
      color: #696969;
      font-family:HiraginoSans-W6;
      letter-spacing:0;
      font-weight: 900;
    }

    .send-coin-notice{
      color: #696969;
      text-align: left;
      width: 100% !important;
      font-size: 11px;
    }

    .no-margin-bottom {
      margin-bottom: 0;
    }

    #manage_email{
      cursor: pointer;
      color: #2591fd;
      text-decoration: none;
      text-align: left;
    }

    .jpy_money{
      color: #696969;
      @media screen and (max-width: 625px){
        margin-left: -21px;
      }

      @media screen and (min-width: 626px) and (max-width: 767px){
        margin-left: -16px;
      }
    }

    .balance_infor{
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;

      .coin_icon{
        height: 55px;
        float: left;
      }

      .balance{
        float: left;
        label {
          text-align: left;
          font-size: 20px;
          margin-bottom: 0;
        }
      }

      label{
        display: block;
        color: #8e8b89;
      };

      .amount{
        font-size: 22px;
        color: #2591fd;
        font-weight: 900;
        font-family: HiraginoSans-W6;
      }
    }

    #coin-email{
      #sendcoin_email{
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        option{
          width:150px;
        }
      }

      .form-input {
        width: 73%;
        @media screen and (max-width: 768px){
          width: 100%;
        }
      }

      .form-label{
        padding-top: 0;
        width: 195px;
        @media screen and (max-width: 768px){
          width: 100%;
          margin-bottom: 10px;

          #manage_email {
            display: inline;
            float: right;
          }

          .control-label {
            width: 100%;
          }
        }

        label{
          text-align: left;
        }

        .control-label {
          padding-top: 0;
        }
      }
    }

    #coin_type {
      .form-input {
        @media screen and (max-width: 768px){
          width: 100%;
        }
      }
      .form-label {
        width: 187px;

        @media screen and (max-width: 800px){
          width: 170px;
        }

        @media screen and (max-width: 850px){
          width: 175px;
        }

        @media screen and (max-width: 1024px){
          width: 177px;
        }
      }
    }

    .overlay {
      display: none;
      position: fixed;
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      -webkit-animation: ngdialog-fadein 0.5s;
      animation: ngdialog-fadein 0.5s;
      z-index: 10000;
      overflow-y: scroll;
      .content_manage{
        -webkit-animation: ngdialog-flyin .5s;
        animation: ngdialog-flyin .5s;
        background: #f0f0f0;
        border-radius: 5px;
        color: #444;
        font-family: 'Helvetica',sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 0 auto;
        padding: 1em;
        position: relative;
        width: 40%;
        top: 10%;
        min-width: 600px;

        #add_email {
          border: 0;
          background: #3498DB;
          color: white;
          border-radius: 3px;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          font-family: HiraginoSans-W4;
          min-width: 60px;
        }
      }
      .close_manage{
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }
      .close_manage:before {
        background: transparent;
        border-radius: 3px;
        color: #bbb;
        content: '\00D7';
        font-size: 26px;
        font-weight: 400;
        height: 30px;
        line-height: 26px;
        position: absolute;
        right: 3px;
        text-align: center;
        top: 3px;
        width: 30px;
      }
      .message{
        display: none;
      }
      ul{
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        li{
          list-style: none;
          word-wrap: break-word;
          width: 100%;
          display: inline-block;
          text-align: left;
        }
        .li-1{
          font-weight: bold;
        }
        .li-2{
          padding: 10px 0px;
          border-bottom: 1px solid #ccc;
          .col-sm-2{
            input{
              margin-right: 20px;
              margin-top: 0px;
              width: 15px;
              height: 15px;
            }
            a{
              i{
                font-size: 20px;
              }
            }
          }
          .visible-xs{
            strong{
              display: inline-block;
              margin-top: 5px;
            }
          }
        }
        .li-3{
          div{
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .overlay{
        .content_manage{
          min-width: 300px;
          width: 80%;
          .li-2{
            .col-xs-12{
              padding: 0 15px;
              width: calc(100% - 100px);
            }
            .visible-xs {
              width: 100px;
              clear: both;
            }
          }
          .li-3{
            .col-sm-2{
              text-align: center;
              .btn-info{
                max-width: 100px;
                margin: auto;
              }
            }
          }
        }
      }
    }

    .sendcoin_amount {
      .form-label {
        width: 195px;
      }
      .form-input {
        width: 73%;
        @media screen and (max-width: 768px){
          width: 100%;
        }
        input {
          width: 100%;
          background-color: #fff;
        }
      }
    }
  }

  .button-popup {
    margin-top: 10%;
    text-align: center;
  }

  .sendcoin-details {
    display: none;
    table tr td:first-child{
      min-width: 110px;
      color: #17217b;
      font-weight: bold;
    }
  }
  .btn-send-coin-primary{
    @media screen and (max-width: 1441px) {
      height: 50px;
      padding: 15px;
      max-width: 160px;
      font-size: 17px;
      line-height: 21px;
    }
    border: 0;
    background: #3498DB;
    color: white;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 15px auto 0 auto;
    font-family:HiraginoSans-W4;
    min-width: 140px;
  }

  @media screen and (min-width: 320px) {
    .btn-next-send, .btn-close-send{
      height: 40px;
      width: 100%;
      max-width: 44%;
      display: inline-block;
      border: none;
      text-align: center;
      color: #fff;
      font-size: 18px;
      line-height: 29px;
      outline: none;
      margin-bottom: 7%;
    }
    .btn-next-send{
      margin-right: 6%;
      background: #3498DB;
    }
    .email-send {
      font-size: 10px;
    }
    #new_sendcoin .message_send_coin{
      font-size: 14px;
    }
  }

  @media screen and (min-width: 600px) {
    .btn-next-send, .btn-close-send{
      max-width: 20%;
      height: 50px;
      line-height: 36px;
    }
    .email-send {
      font-size: 13px;
    }
    #new_sendcoin .message_send_coin{
      font-size: 17px;
    }
  }

  .btn-close-send{
    background: #ddd;
  }
  .btn-show-email {
    cursor: pointer;
  }


  #select-email-sent {
    position: relative;
    .close-send {
      position: absolute;
      top: 15px;
      right: 40%;
      content: 'X';
      font-size: 20px;
      border: 2px solid #ccc;
      padding: 3px 5px;
      cursor: pointer;
    }
  }

  .jpy-form {
    @media screen and (max-width: 768px){
      display: flex;

      .jpy_money {
        text-align: right;
        width: 50% !important;
      }
      .form-label {
        width: 50% !important;
      }
    }
    .form-label {
      width: 195px;
      font-size: 18px;
      @media screen and (max-width: 400px){
      font-size: 15px;
      }
    }
  }
}

.email-send-selected{
    float: left;
    margin-top: 0px !important;
}


// .ngdialog.ngdialog-theme-default .ngdialog-content {
//   width: 50%;
// }
