<ng-include src="'/templates/funds/_balance_lock.html'"></ng-include>

<form id="btc_withdraw" class="form funds-wrapper" ng-controller="WithdrawsController as withdrawsCtrl" ng-submit="withdrawsCtrl.createWithdraw(currency)">

  <div class="form-group">
    <a id="add_manage" href="javascript:;" ng-click="openFundSourceManagerPanel()" ng-bind="'funds.withdraw_coin.manage_withdraw' | t"></a>
    <select class="form-control" ng-if="fund_sources().length == 0"></select>

    <div class="" ng-if="fund_sources().length">
      <select id="fund_source" class="select required form-control" name="fund_source"
        ng-model="selected_fund_source_id"
        ng-model-options="{ getterSetter: true }"
        ng-options="fs.id as fs.label for fs in fund_sources()"
        required>
      </select>
    </div>
  </div>

  <div class="form-group required">
    <label class="decimal required control-label" for="withdraw_sum">{{"funds.withdraw_coin.amount" | t}}</label>
    <div id="amount">
      <div class="input-group">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0" name="withdraw[sum]" placeholder="0.005 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'btc'">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0" name="withdraw[sum]" placeholder="0.01 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'xrp'">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0.001" name="withdraw[sum]" placeholder="0.005 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'bch'">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0.001" name="withdraw[sum]" placeholder="0.005 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'btg'">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0" name="withdraw[sum]" placeholder="0.1 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'eth'">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0" name="withdraw[sum]" placeholder="0.1 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'etc'">
        <input class="numeric decimal required form-control" id="withdraw_sum" min="0" name="withdraw[sum]" placeholder="1000 {{'funds.withdraw_coin.min' | t}}" step="any" type="number" value="0.0" ng-model="withdrawsCtrl.withdraw.sum" ng-if="currency == 'kbr'">
        <span class="input-group-btn">
          <button id="withdraw_all_btn" class = "btn btn-default" type = "button" ng-click="withdrawsCtrl.withdrawAll()">
             {{"funds.withdraw_coin.withdraw_all" | t}}
          </button>
         </span>
      </div>
    </div>

    <div class="input-group destination-tag" ng-if='currency == "xrp"'>
      <label class="decimal required control-label" for="destination_tag">{{"funds.withdraw_coin.destination_tag" | t}}</label>
      <input class="numeric decimal required form-control" id="destination_tag" placeholder="{{'funds.withdraw_coin.number' | t}}" type="number" value="0" ng-model="withdrawsCtrl.withdraw.tag">
    </div>
    <span ng-if="currency != 'kbr'"><small>Fee : {{fee}} {{currency | uppercase}}</small></span>
    <span ng-if="currency == 'kbr'"><small>Fee : 0.005 ETH</small></span>
  </div>

  <div class="form-group google-auth" ng-if="app_activated()">
    <label for="">{{"auth.hints.app" | t}}</label>
    <div class="input-group" style="width:100%;">
      <input class="two_factor_auth_type" name="two_factor[type]" type="hidden" value="app" />
      <input class="string required form-control two_factor_otp1" id="two_factor_otp" name="two_factor[otp]" placeholder='{{"auth.otp_placeholder" | t}}' />
    </div>
    <!-- <span class="help-block app">{{"auth.hints.app" | t}}</span> -->
    <div class="captcha-wrap"></div>
  </div>

  <div class="form-group">
    <div class="form-submit widhdraw-btn">
      <input  id="withdraw_submit" class="button-primary" data-loading-text="Creating..." name="commit" type="submit" value="{{'submit' | t}}">
    </div>
  </div>

</form>

<br>

<div class="history-title">
  <p>{{ "funds.withdraw_history.title" | t }}</p>
</div>
<div class="table-responsive" id="history">
  <table class="table withdraw-history table-history" ng-controller="WithdrawHistoryController as wdCtrl">
    <tr>
      <th>{{ "funds.withdraw_history.withdraw_time" | t }}</th>
      <th>{{ "funds.withdraw_history.withdraw_address" | t }}</th>
      <th>{{ "funds.withdraw_history.actual_amount" | t }}</th>
      <th>{{ "funds.withdraw_history.miner_fee" | t }}</th>
      <th class="last-right">{{ "funds.withdraw_history.state_and_action" | t }}</th>
    </tr>
    <tr ng-repeat="withdraw in wdCtrl.withdraws | orderBy:predicate">
      <td>{{withdraw.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
      <td title="{{withdraw.fund_extra}} @ {{withdraw.fund_uid}}">
        <a href="{{withdraw.address_url}}" target='_blank'>{{withdraw.fund_uid | truncate: 20}}</a>
      </td>
      <td>{{withdraw.amount}}</td>
      <td>{{withdraw.fee}}</td>
      <td>{{"funds.withdraw_history." + withdraw.aasm_state | t}}
        <span ng-if="wdCtrl.canCancel(withdraw.aasm_state)">/
          <a ng-click="wdCtrl.cancelWithdraw(withdraw); $event.preventDefault()" href="#" class="cancel_link">{{ "funds.withdraw_history.cancel" | t }}</a>
        </span>
      </td>
    </tr>
    <tr ng-if="wdCtrl.noWithdraw()"><td colspan="6"><span class="text-center">{{"funds.withdraw_history.no_data" | t}}</span></td></tr>
  </table>
</div>
