<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'jpy'" src="'/templates/funds/deposit_jpy.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>
<ng-include ng-if="currency == 'xrp'" src="'/templates/funds/deposit_xrp.html'"></ng-include>
<ng-include ng-if="currency == 'bch'" src="'/templates/funds/deposit_bch.html'"></ng-include>
<ng-include ng-if="currency == 'etc'" src="'/templates/funds/deposit_etc.html'"></ng-include>
<ng-include ng-if="currency == 'kbr'" src="'/templates/funds/deposit_kbr.html'"></ng-include>
<ng-include ng-if="currency == 'btg'" src="'/templates/funds/deposit_btg.html'"></ng-include>