<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'jpy'" src="'/templates/funds/withdraw_jpy.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>
<ng-include ng-if="currency == 'xrp'" src="'/templates/funds/withdraw_xrp.html'"></ng-include>
<ng-include ng-if="currency == 'bch'" src="'/templates/funds/withdraw_bch.html'"></ng-include>
<ng-include ng-if="currency == 'etc'" src="'/templates/funds/withdraw_etc.html'"></ng-include>
<ng-include ng-if="currency == 'kbr'" src="'/templates/funds/withdraw_kbr.html'"></ng-include>
<ng-include ng-if="currency == 'btg'" src="'/templates/funds/withdraw_btg.html'"></ng-include>
